<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android = "http://schemas.android.com/apk/res/android"
          xmlns:tools = "http://schemas.android.com/tools"
          package = "org.genecash.garagedoor"
          android:versionCode = "1539859707"
          android:versionName = "18-OCT-2018 06:48:27 AM">

    <uses-permission android:name = "android.permission.INTERNET" />
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name = "android.permission.WAKE_LOCK" />
    <uses-permission android:name = "android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name = "android.permission.WRITE_SETTINGS" />
    <uses-permission android:name = "android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name = "android.permission.READ_PHONE_STATE" />
    <uses-permission android:name = "android.permission.BLUETOOTH" />
    <uses-permission android:name = "android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name = "android.hardware.location.gps" />
    <application
        android:icon = "@drawable/main_app"
        android:label = "Garage Door"
        tools:ignore = "GoogleAppIndexingWarning">
        <activity
            android:name = ".GarageDoorApp"
            android:icon = "@drawable/main_app"
            android:label = "Garage Door"
            android:launchMode = "singleTop"
            android:theme = "@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name = ".GarageDoorOpen"
            android:icon = "@drawable/open_app"
            android:label = "Garage Arm">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name = ".GarageDoorButton"
            android:icon = "@drawable/open_app"
            android:label = "Garage Button">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name = ".GarageStatus"
            android:icon = "@drawable/status_app"
            android:label = "Garage Status"
            android:launchMode = "singleTop"
            android:screenOrientation = "portrait">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name = ".GarageSettings"
            android:icon = "@drawable/settings_app"
            android:label = "Garage Settings"
            android:launchMode = "singleTop"
            android:screenOrientation = "portrait"
            android:windowSoftInputMode = "stateHidden">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name = ".CloseApp"
            android:icon = "@drawable/close_app"
            android:label = "Garage Stop"
            android:launchMode = "singleTop"
            android:screenOrientation = "portrait"
            android:theme = "@android:style/Theme.NoDisplay"
            android:windowSoftInputMode = "stateHidden">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name = "org.genecash.garagedoor.stop" />
            </intent-filter>
        </activity>
        <activity
            android:name = ".ToggleApp"
            android:icon = "@drawable/settings_app"
            android:label = "Garage Toggle"
            android:launchMode = "singleTop"
            android:screenOrientation = "portrait"
            android:theme = "@android:style/Theme.NoDisplay"
            android:windowSoftInputMode = "stateHidden">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name = "org.genecash.garagedoor.toggle" />
            </intent-filter>
        </activity>

        <receiver
            android:name = ".DeviceAdmin"
            android:description = "@string/device_admin_description"
            android:label = "@string/device_admin_label"
            android:permission = "android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name = "android.app.device_admin"
                android:resource = "@xml/device_admin" />
            <intent-filter>
                <action android:name = "android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name = ".BluetoothReceiver">
            <intent-filter android:priority = "10000">
                <action android:name = "android.bluetooth.device.action.ACL_CONNECTED" />
            </intent-filter>
            <intent-filter android:priority = "10000">
                <action android:name = "android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service
            android:name = ".GarageDoorService"
            android:enabled = "true"
            android:exported = "false"
            android:process = ":GarageDoorService" />
    </application>
</manifest>
